@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    /* Latin-ext */
    @font-face {
        font-family: 'Inter';
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(fonts/Inter-Normal-Latin-Extended.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* Latin */
    @font-face {
        font-family: 'Inter';
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(fonts/Inter-Normal-Latin.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    html,
    body,
    #app {
        min-height: 100%;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        transition: color 0.5s,
            background-color 0.5s;
        line-height: 1.6;
        font-family: Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
        font-size: 16px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #06b6d4;
        border-radius: 5px;
        border: 2px solid #06b6d4;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}